#ide {
  .ide_editor {
    width: 600px;
    height: 500px;
    border: 1px solid grey;
  }
  .ide_button {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    background: blue;
    color: white;
    font-size: 15px;
  }
  
}
